<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
         aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Сократитель ссылок</h1>
        <p class="mt-2 text-lg leading-8 text-gray-600">
            Короткие ссылки придают краткость и читаемость, упрощают процесс копирования и вставки для пользователей,
            являются эффективными инструментами в сфере
            маркетинга.
        </p>
    </div>
    <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div class="sm:col-span-2">
                <div class="mt-2.5">
                    <input type="text" name="url" id="company" autocomplete="organization" placeholder="Укажите адрес"
                           class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>

        <div class="mt-10">
            <button type="submit"
                    class="block w-1/4 rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Сократить
            </button>
        </div>
    </form>
</main>
<div class="urls mt-10 mx-auto max-w-2xl">
    <!-- Display URLs in a Table -->
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Сокращенная ссылка
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Оригинальная ссылка
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Просмотры
            </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <!-- JINJA USED TO LOOP OVER URLS SENT TO TEMPLATE BY VIEW FUNCTION -->
        {% for url in urls %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{ request.get_host }}/url/{{ url.hash }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ url.url }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ url.visits }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- JAVASCRIPT FOR FORM FUNCTIONALITY -->
<script>
    // grab form node from DOM
    const form = document.querySelector("form");
    // add submit event on form
    form.addEventListener("submit", (event) => {
        // prevent immediate refresh
        event.preventDefault();
        // generate form data object
        const formData = new FormData(form);
        // generate object to send to API endpoint
        const requestBody = {url: formData.get("url")};
        // make post request to API, don't forget the trailing slash!
        fetch("/url/", {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestBody),
        })
            // if all goes well
            .then((response) => {
                console.log(response);
                if (response.status >= 400) {
                    return response.text();
                }
                // refresh page
                location.reload();
            })
            // if something goes wrong
            .then((error) => {
                //if no error kill function
                if (!error) {
                    return 1;
                }
                // get error string from html error from django
                const regex = /<pre[^>]*>(.*?)<\/pre>/s;
                const match = regex.exec(error);

                if (match) {
                    const innerText = match[1];
                    alert(innerText)
                } else {
                    alert("No Error Details");
                }
            });
    });
</script>
</body>
</html>
